<html>
    <body>
        <h1>add a product you need</h1>
        <form action="/newproduct/", method="POST">
            {% csrf_token %}
            <input type="text" id="product" name="product"><br><br>
            <input type="submit" value="submit">
            <p> Bellow are the list of products you own  </p>
            <table>
                {% for rowval in data %}    
                   <tr>
                    <td>{{rowval}}</td>
                   {% endfor %}
                 
              </table> 
          </form>
    </body>
</html>



